<?xml version="1.0"?>
<config>
    <modules>
        <Mgroup_RatingService>
            <version>0.1.0</version>
        </Mgroup_RatingService>
    </modules>
    <frontend>
      <routers>
         <routeurfrontend>
             <use>standard</use>
             <args>
                <module>Mgroup_RatingService</module>
                <frontName>ratingservice</frontName>
             </args>
          </routeurfrontend>
      </routers>
      <layout>
          <updates>
              <ratingservice>
                  <file>ratingservice.xml</file>
              </ratingservice>
          </updates>
      </layout>
   </frontend>
    <admin>
      <routers>
          <adminhtml>
              <args>
                  <modules>
                      <ratingservice after="Mage_Adminhtml">Mgroup_RatingService_Adminhtml</ratingservice>
                  </modules>
              </args>
          </adminhtml>
      </routers>
   </admin>
    <global>
        <helpers>
            <ratingservice>
                <class>Mgroup_RatingService_Helper</class>
            </ratingservice>
        </helpers>
        <blocks>
            <ratingservice>
                <class>Mgroup_RatingService_Block</class>
            </ratingservice>
        </blocks>
        <models>
            <ratingservice>
                <class>Mgroup_RatingService_Model</class>
                <resourceModel>ratingservice_mysql4</resourceModel>
            </ratingservice>
            <ratingservice_mysql4>
                <class>Mgroup_RatingService_Model_Mysql4</class>
                <entities>
                    <siteconnect>
                        <table>site_connect</table>
                    </siteconnect>
                </entities>
            </ratingservice_mysql4>
        </models>
        <resources>
            <ratingservice_setup>
                <setup>
                    <module>Mgroup_RatingService</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ratingservice_setup>
            <ratingservice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ratingservice_write>
            <ratingservice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ratingservice_read>
        </resources>
        <events>
          <admin_system_config_changed_section_rating_service>
              <observers>
                  <mymodule>
                      <type>singleton</type>
                      <class>Mgroup_RatingService_Model_Observer</class>
                      <method>ratingProcess</method>
                  </mymodule>
              </observers>
          </admin_system_config_changed_section_rating_service>
      </events>
    </global>

</config>
